<header>
    <a href="{{ path('home') }}" class="btn">Accueil</a>
    <label>Recherche : </label><input type='text'>
    <button>Search</button>
    <!--<button>Mes listes</button>-->
    <a href="{{ path('app_login') }}" class="btn rounded-pill btn-connexion px-3">Connexion</a>
</header>