<header>
    <a href="{{ path('home') }}" class="btn">Accueil</a>
    <label>Recherche : </label><input type='text'>
    <a href="{{ path('app_search') }}" class="btn rounded-pill btn-search px-3">Search</a>
    <!--<button>Mes listes</button>-->
    <a href="{{ path('app_login') }}" class="btn rounded-pill btn-connexion px-3">Connexion</a>
</header>