{% extends 'base.html.twig' %}

{% block title %}Suggérer un livre{% endblock %}

{% block body %}
    <h1>Suggérer un livre</h1>

    {{ include('livre/_form.html.twig') }}

    <a href="{{ path('app_livre_index') }}">Revenir au catalogue</a>
{% endblock %}
